.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boton {
  padding: 10px 20px;
  background-color: #3c4a58;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
.boton:hover {
  background-color: #262e36;
}

.borde{
  border: 1px solid black;
}

.divForm {
  height: 100vh;
  align-items: center;
}

.navBar{
  height: 80px;
  background-color: #282c34;
}
.navBar ul{
  list-style: none;
}
.navBar h1{
  color: antiquewhite;
}
.navBar a{
  background-color: #202227;
  color: antiquewhite;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.navBar a:hover{
  background-color: #3c4a58;
}

.listaEventos{
  border: 1px solid black;
}